data/primary_cohort/pb_ct/
data/primary_cohort/pb_ct_filtered/
data/primary_cohort/snRNA_donor/
data/primary_cohort/WGCNA_modules/df_tom_similarity_astrocyte.csv
data/primary_cohort/WGCNA_modules/df_tom_similarity_microglia.csv

data/SNAP_loadings/

data/validation_cohort/GSE254569/adata_by_donor
data/validation_cohort/GSE254569/pb_ct
data/validation_cohort/GSE254569/pb_ct_filtered
data/validation_cohort/GSE254569/WGCNA_modules/df_tom_similarity_astrocyte_val.csv
data/validation_cohort/GSE254569/WGCNA_modules/df_tom_similarity_microglia_val.csv
data/validation_cohort/GSE254569/41593_2024_1742_MOESM2_ESM.xlsx
data/validation_cohort/GSE254569/GSE254569_adata_RNA.h5ad

data/gwas-association-downloaded_2026-03-23-MONDO_0005090.tsv
data/Homo_sapiens.GRCh38.114.gtf.gz

Rcodes/astrocyte/.Rhistory
Rcodes/astrocyte/df_zsummary_astrocyte.csv
Rcodes/astrocyte/pb_astrocyte_control_filtered.csv
Rcodes/astrocyte/permutedStats-actualModules.RData

Rcodes/microglia/.Rhistory
Rcodes/microglia/df_zsummary_microglia.csv
Rcodes/microglia/pb_microglia_control_filtered.csv
Rcodes/microglia/permutedStats-actualModules.RData


Rcodes/astrocyte_val/.Rhistory
Rcodes/astrocyte_val/df_zsummary_astrocyte_val.csv
Rcodes/astrocyte_val/pb_Astrocytes_control_filtered.csv
Rcodes/astrocyte_val/permutedStats-actualModules.RData

Rcodes/microglia_val/.Rhistory
Rcodes/microglia_val/df_zsummary_microglia_val.csv
Rcodes/microglia_val/pb_Microglia_control_filtered.csv
Rcodes/microglia_val/permutedStats-actualModules.RData

*.png
*.pdf